/*estilos en común para los html*/
/*navbar*/
.navbar_main {
    background: $main_color;
}

.flechita{
    margin-left: 15px;
}

nav i, nav i.material-icons{  //tamaño iconos navbar
    font-size: 35px;
}

input[type=text]:not(.browser-default){
    background-color: $white;
    border: 0.5px solid $bordeinput;
    border-radius: 3px; 
    font-size: 16px;
    margin: 2px 0px 2px;
    padding: 5px 0px 5px; 
    color: $graytext;   
}
input::-webkit-input-placeholder{
    padding-left: 15px;
    color: $graytext;
}

/*HOME index.html*/
.welcome {
    background: url('../img/tastyfoodintro.jpg');
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    display: inline-block;
    width: 100%;
    color: $white;
    font-family: $tipografia_main;

    &__btn {
        background: $main_color;
        width: 50vh;
        height: 6vh;
        border-radius: 10px;
        font-family: $roboto;
        margin-bottom: -10px;
    }

    h1{
        font-size: 3.2rem;
        margin: 11.1rem 0 6.68rem;
    }
    .donthave{
        font-family: $roboto;
        color: $white;
    }
}

/*SIGN UP */
.signup{
    background-color: $graybg;
    height: 100vh; 
    .signup-title{
        color: $main_color;
        font-size: 3.2rem;
        margin: 6.1rem 0 0.1rem;
        font-family: $tipografia_main;
    }
    p{
        color: $graytext;
    }   
    .create__btn{
        background: $main_color;
        width: 50vh;
        height: 6vh;
        border-radius: 10px;
        font-family: $roboto;
        font-size: 15px;
    }
}

/*LOG IN*/
.login{ 
    background-color: $graybg;
    height: 100vh;

    .login-title{
        color: $main_color;
        font-size: 3.2rem;
        margin: 6.1rem 0 2.1rem;
        font-family: $tipografia_main;
    }
    input::-webkit-input-placeholder{
        padding-left: 15px;
        color: $graytext;
    }
    .enter__btn{
        background: $main_color;
        width: 50vh;
        height: 6vh;
        border-radius: 10px;
        font-family: $roboto;
        font-size: 15px;
    }
}