/*estilos en común para los html*/
/*navbar*/
.navbar_main {
    background: $main_color;
}

.flechita{
    margin-left: 15px;
}

nav i, nav i.material-icons{  //tamaño iconos navbar
    font-size: 35px;
}

input[type=text]:not(.browser-default), input[type=password]:not(.browser-default){
    background-color: $white;
    border: 0.5px solid $bordeinput;
    border-radius: 3px; 
    font-size: 16px;
    margin: 2px 0px 2px;
    padding: 5px 0px 5px; 
    color: $graytext;   
}
input::-webkit-input-placeholder{
    padding-left: 15px;
    color: $graytext;
}

/*HOME index.html*/
.welcome {
    background: url('../img/tastyfoodintro.jpg');
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    display: inline-block;
    width: 100%;
    color: $white;
    font-family: $tipografia_main;

    &__btn {
        background: $main_color;
        width: 50vh;
        height: 6vh;
        border-radius: 10px;
        font-family: $roboto;
        margin-bottom: -10px;
    }

    h1{
        font-size: 3.2rem;
        margin: 11.1rem 0 6.68rem;
    }
    .donthave{
        font-family: $roboto;
        color: $white;
    }
}

/*SIGN UP */
.signup{
    background-color: $graybg;
    height: 100vh; 
    .signup-title{
        color: $main_color;
        font-size: 3.2rem;
        margin: 6.1rem 0 0.1rem;
        font-family: $tipografia_main;
    }
    p{
        color: $graytext;
    }   
    .create__btn{
        background: $main_color;
        width: 50vh;
        height: 6vh;
        border-radius: 10px;
        font-family: $roboto;
        font-size: 15px;
    }
}

/*LOG IN*/
.login{ 
    background-color: $graybg;
    height: 100vh;

    .login-title{
        color: $main_color;
        font-size: 3.2rem;
        margin: 6.1rem 0 2.1rem;
        font-family: $tipografia_main;
    }
    input::-webkit-input-placeholder{
        padding-left: 15px;
        color: $graytext;
    }
    .enter__btn{
        background: $main_color;
        width: 50vh;
        height: 6vh;
        border-radius: 10px;
        font-family: $roboto;
        font-size: 15px;
    }
}

#name_message, #mail_message, #password_message, #mail_error, #password_error {
    display: none;
}

.navbar_main {
    background: $main_color;
}

/*section search*/

#search{
    margin: 0;
    padding: 0;
    font-family: 'Anton', sans-serif;
}
.browser-default{
    width: 112%;
    height: 50px;
    font-family: $robototo;
    margin-left: -6%;
}

.favorite{ 
    margin-top: -36px;
    display: flex;
    justify-content: flex-end;
}
.filtrar{
    width: 112%;
    height: 50px;
    color: #fff;
    background-color: #f57c00;
    font-size: 20px;
    margin-left: -6%;
    border:none;
}


.card{
    position: relative;
}

.card .card-content{
    background-color: #ef6c00;
    color: white;
    font-family: $robototo;
    padding: 0;
    height: 8vh;
    .nombre{
        font-size:0.5em;
        font-weight:bolder;

    }
    .comuna{
        font-size:0.5em;
        font-weight:normal;
    }
}

.end{
    position: fixed;
    width:103%;
    z-index: 2;
    bottom: 0;
    padding:0;
    background-color: #fff;
    
}
.end-nombre{
    background-color: #ef6c00;
    width: 103%;
    display:inline-block;
    color: #fff;
    .add-cor{
        background-color:transparent;
        border:none;
    }
}
.end-datos{
    display: inline;
    height: 25vh;
    
    width: 100%;
    margin-left: -100%;
    margin-top: 7%;
    h6{
        font-family:$robototo;
        color:#ef6c00;
        font-size:0.8em;
    }
    p{
        font-family:$robototo;
        color:#eee;
        font-size:0.6em
    }
}

.navbar_main {
    background: $main_color;
}

/*DISCOVER*/

.select {
    background: #EAEAEA;
    width: 100%;
    height: 100%;

    select {
        display: block;
        width: 90%;
        margin: 13px;
        color: #B79F8B;
    }
}

#map {
    width: 100%;
    height: 90vh;
    margin: 0;
    padding: 0;
}

/*Profile*/

.image-profile{
    margin: 0 auto;
    text-align: center;
    img{
        width: 100%;
    }
    .input-field {
        margin-top: -20px;
    }

    .btn {
        background-color: $main_color;
        height: 45px;
        border-radius: 0px;
        box-shadow: none;
    }
    .file-field .file-path-wrapper{
        background-color: $main_color;
        height: 45px;
    }
}
.profile-data{
    background-color: #EAEAEA;
    height: 200px;
    padding: 0 20px;
    .el-profile-data{
        background-color: $white;
        margin-top: 10px;
        p{
            display: inline-block;
            color: $main_color;
            margin-left: 10px;
        }
    }
    .favorites-title{
        h1{
            font-size: 20px;
            text-align: center;
        }
    }
}


