.welcome {
    background: url('../img/tastyfoodintro.jpg');
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    display: inline-block;
    width: 100%;
    color: $white;
    font-family: $tipografia_main;

    &__btn {
        background: $main_color;
    }
}


/*NAVBAR*/

.navbar_main {
    background: $main_color;
    .oso{
        display: flex;
        justify-content: center;

    }
}

/*section search*/

#search{
    margin: 0;
    padding: 0;
    font-family: 'Anton', sans-serif;
    background-color: $main_color;
}

.end{
    width: 100%;
    height: 50px;
    background-color: #ffab40;
    display: flex;
    justify-content: center;
    color: white;
}
.favorite{ 
    margin-top: -36px;
    display: flex;
    justify-content: flex-end;
}

.imagenes{
    margin: 10px;
    padding-bottom: 10px;

}

.imagenes2{
    border: 2px solid #fff59d;
    .card-content{
       @include cajitas();
    }
}