$tipografia_main: 'Anton', sans-serif;
$roboto: 'Roboto', sans-serif;
$main_color: #FF8529;
$white: #fff;

$robototo: 'Roboto Condensed', sans-serif;

$graybg: #eaeaea;
$graytext: #777777;
$bordeinput: #d1d1d1;

